/* first section */
.landing{
  background-image: url("assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  text-align: center;
  color: #fff;
}
.landing h1{
  padding: 5px;
}
.home{
  padding-top: 15%;
}
.mouse-click{
  padding-top: 15%;
}
/* about section */
.about{
  text-align: center;
  line-height: 2;
  padding: 5% 7% 5% 7% ;
}
/* services section */
.services{
  background-image: url("assets/backgrounds/s_image.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  padding: 8% 0 15% 0;
  text-align: center;
  line-height: 2;
  color: #fff;
}
/* what we do */
.what{
  text-align: center;
  padding-top: 40px;
}
.task{
  padding-top: 40px;
}
/* portfolio */
.portfolio{
  text-align: center;
  padding-top: 40px;
}
.project img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
  padding-bottom: 4%;
  padding-top: 4%;
}
/* contact us */
.contact{
  background-image: url("assets/backgrounds/c_image.jpg");
  margin-top: 40px;
  color: #fff;
}
.contact h3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
form{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.form-control{
  background-color: rgb(255,255,255,0);
  color: #fff;
}
.form-control placeholder{
  color: #fff;
}
form button{
  background-color: rgb(255,255,255,0);
  padding: 5px 10px 5px 10px;
}
/* social section */
.socials{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* footer */
.footer{
  text-align: center;
}
